<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>-----</title>
<meta name="description" content="---------">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="apple-mobile-web-app-title" content="taotao"/>
<link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="/assets/css/admin.css">
<link rel="stylesheet" type="text/css" href="/libs/jquery.datetimepicker/jquery.datetimepicker.css"/>
<style>
    #startDate, #endDate, #nickname {
        display: inline-block;
        width: auto;
    }
</style>